@import '../helpers/vars.scss';

.partners {
  padding-top: 70px;
  @media (max-width: 530px) {
    padding-top: 76px;
  }

  &__title {
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 160%;
    margin-bottom: 30px;
    color: $text-color;

    @media (max-width: 768px) {
      font-size: 28px;
    }

    @media (max-width: 375px) {
      line-height: 100%;
      margin-bottom: 40px;
    }
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @media (max-width: 768px) {
    gap: 20px;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    border: 1px solid $border-color;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.3s;

    @media (max-width: 1169px) {
      width: calc(25% - 22.5px);
    }

    @media (max-width: 768px) {
      width: calc(33.33% - 13.33px);
    }

    @media (max-width: 530px) {
      width: calc(50% - 10px);
      height: 140px;
    }

    @media (max-width: 375px) {
      width: 335px;
    }

    &:hover {
      box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1),
        0px 0px 10px rgba(164, 164, 164, 0.03);
    }
  }

  &__img {
    width: 60px;
    height: 60px;
  }
}
